<!-- TradingView Widget BEGIN -->
<nav>
    <div id='drilldown'>Drilldown</div>
    <div id='period-menu'>
        <span>1m</span>
        <span>10m</span>
        <span>1h</span>
        <span>1d</span>
    </div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener" target="_blank">All charts by <span class="blue-text">TradingView</span></a></div>
</nav>
<main>
    <div id='grid-container'>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db1" class='chart'></div>
            </div>
        </div>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db2" class='chart'></div>
            </div>
        </div>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db3" class='chart'></div>
            </div>
        </div>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db4" class='chart'></div>
            </div>
        </div>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db5" class='chart'></div>
            </div>
        </div>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db6" class='chart'></div>
            </div>
        </div>
    </div>
</main>



<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
<script type="text/javascript">
    new TradingView.widget({
        "autosize": "true",
        "height": 200,
        "symbol": "BINANCE:LINKUSDT",
        "interval": "1",
        "timezone": "Etc/UTC",
        "theme": "dark",
        "style": "8",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "hide_top_toolbar": true,
        "save_image": false,
        "container_id": "tradingview_db1"
    });
    new TradingView.widget({
        "autosize": "true",
        "symbol": "BINANCE:XRPUSDT",
        "interval": "1",
        "timezone": "Etc/UTC",
        "theme": "dark",
        "style": "8",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "hide_top_toolbar": true,
        "save_image": false,
        "container_id": "tradingview_db2"
    });
    new TradingView.widget({
        "autosize": "true",
        "symbol": "BINANCE:KNCUSDT",
        "interval": "1",
        "timezone": "Etc/UTC",
        "theme": "dark",
        "style": "8",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "hide_top_toolbar": true,
        "save_image": false,
        "container_id": "tradingview_db3"
    });
    new TradingView.widget({
        "autosize": "true",
        "symbol": "BINANCE:BTCUSDT",
        "interval": "1",
        "timezone": "Etc/UTC",
        "theme": "dark",
        "style": "8",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "hide_top_toolbar": true,
        "save_image": false,
        "container_id": "tradingview_db4"
    });
    new TradingView.widget({
        "autosize": "true",
        "symbol": "BINANCE:XTZUSDT",
        "interval": "1",
        "timezone": "Etc/UTC",
        "theme": "dark",
        "style": "8",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "hide_top_toolbar": true,
        "save_image": false,
        "container_id": "tradingview_db5"
    });
    new TradingView.widget({
        "autosize": "true",
        "symbol": "BINANCE:ADAUSDT",
        "interval": "1",
        "timezone": "Etc/UTC",
        "theme": "dark",
        "style": "8",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "hide_top_toolbar": true,
        "save_image": false,
        "container_id": "tradingview_db6"
    });
</script>