<!-- TradingView Widget BEGIN -->
<nav>
    <div id='period-menu'>
        <div id='current-period'>1 minute</div>
        <ul>
            <li>1 minute</li>
            <li>5 minutes</li>
            <li>30 minutes</li>
            <li>4 hours</li>
            <li>1 day</li>
        </ul>
    </div>
    <div id='attribution'>All charts by <a href="https://www.tradingview.com/" rel="noopener" target="_blank">TradingView</a></div>
</nav>
<main>
    <div id='grid-container'>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db1" class='chart'></div>
            </div>
        </div>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db2" class='chart'></div>
            </div>
        </div>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db3" class='chart'></div>
            </div>
        </div>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db4" class='chart'></div>
            </div>
        </div>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db5" class='chart'></div>
            </div>
        </div>
        <div class='grid-item'> 
            <div class='chart-info'>

            </div>
            <div class="tradingview-widget-container">
                <div id="tradingview_db6" class='chart'></div>
            </div>
        </div>
    </div>
</main>